OMT_XML/Samples/GERTICO.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Reinhard Herzog (Fraunhofer Institut IITB) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!--Configuration file description-->
<!ELEMENT GERTICO (NamingService, DTDfile, ModelPath+)>
<!ELEMENT NamingService (endPoint, rootEntry)>
<!--absolute path to dtd file-->
<!ELEMENT DTDfile ANY>
<!--sequence of path names where the omt files will be searched-->
<!ELEMENT ModelPath ANY>
<!ELEMENT endPoint ANY>
<!ELEMENT rootEntry ANY>
